<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/edit/<%= blog._id %>" method="POST">
      <label for="title">Title :</label>
      <input type="text" id="title" name="title"  value="<%= blog.title %>" required>
      <label for="snippet">Author :</label>
      <input type="text" id="snippet" name="snippet" required value="<%= blog.snippet %>">
      <label for="body">Content :</label>
      <textarea id="body" name="body" placeholder="<%= blog.body %>" required ></textarea>
      <button>Save</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
  <script>
    document.getElementById('account').innerHTML="Logout";
  </script>
</body>
</html>